<!DOCTYPE html>
<html>
<head>
<title>Connexion</title>
</head>
<body>
<div class="container d-flex justify-content-center align-items-center s1">
    <div class="card">
        <div class="row">
            <div class="col-md-6">
                <form #addCollabForm="ngForm" (ngSubmit)="connexionCollabFormSubmit()">

                <div class="form">
                    <h2>Infocom groupe - Plaforme CRA</h2>
                    <div class="inputbox mt-3"> <span>Mail</span> <input type="text" placeholder="Adresse mail" name="" class="form-control" required [(ngModel)]="collaborator.email" name="email"> </div>
                    <div class="inputbox mt-3"> <span>Mot de passe</span> <input type="text" placeholder="Mot de passe" name="" class="form-control" required [(ngModel)]="collaborator.passward" name="passward"> </div>
                   <br>
                        <div class="text-right"> <button class="btn btn connexion btn-block">Connexion</button>
                    </div>
             
                </div>
            </form>
            </div>
            <div class="col-md-6">
                <div class="text-center mt-5"> <img class="logo" src="https://www.infocom-group.fr/dist/img/logo_symbole.png" width="400"> </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
