

body {
    background-color:#252525;
}


.container {
    height: 100vh;
}

.card {
	   	border-radius: 45px;

    width: 100%;
    padding: 30px;

}

.form {
    padding: 20px
}

.form-control {
    height: 50px;
    background-color: #eee

}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
    background-color: #eee
}

.inputbox {
    margin-bottom: 15px
}

.connexion {
    width: 200px;
    height: 51px;
        color:white;

    background-color:#464646;
    border-color: #464646;
}

.connexion:hover {
    width: 200px;
    height: 51px;
    
    background-color: #252525;
    border-color: #252525;
}

.logo{
	height:300px;
	width: 300px;
    margin-top: -60px;
}

.monTitre{
    margin-left: 43%;
}