<nav class="navbar navbar-expand-lg  bg">

    <img class="logo" src="https://www.infocom-group.fr/dist/img/logo_symbole.png" width="80">
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
              <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
    
                <div class="text-nav">
        <ul class="navbar-nav">

            <!--
          <li class="nav-item">
            <a class="nav-link active link-page " href="#">Accueil <span class="sr-only">(current)</span></a>
          </li>
      -->
          

        <div class="container">
            <div class="row">
                <div class="dropdown ">
                    <a class="nav-link link-page " data-toggle="dropdown" href="#">Compte rendu</a>

                </div>
            </div>
        </div>


          <li class="dropdown nav-item " >
            <a class=" nav-link link-page" data-toggle="dropdown" href="#">Congé</a>
            
        </li>


        </ul>
    </div>

    <!--
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link link-page" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-page" href="#">Disconnect</a>
          </li>
        </ul>
    -->
      </div>
    </nav>

  
  