
/**ici*/



.button {
  padding: 10px 25px;
  margin-left: 4%;
  width: 45%;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #464646;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 5%;
}

.devise{
  margin-top: 6px;
  height: 50px;
  font-size: 13px;
  background-color: white;
  border-color: white;
  border-bottom: grey;
}
.button:hover {background-color: #636363}

.button:active {
  background-color: #464646;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.buttonModal{
  margin-top: 16px;
  height:5%;
  width:40px;
  float: right;

}


.inputbox {
  margin-bottom: 15px
}

.Action{
  margin-left: 25%;
  padding-top: 5px;
}
.btnEditer {
  float: left;
  padding: 10px 25px;
  width: 100%;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #363636;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 5%;
}

.btnEditer:hover {background-color: #464646}

.btnEditer:active {
  background-color: #363636;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.input-title{
  font-size: 13px;
  font-weight: 300;
}

.div-edit{
  margin-top: 4%;
}



.btnTab {
  padding: 6px 25px;
  padding-bottom: 25px;
  margin-left: 5%;
  width: 100%;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #464646;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  height: 5px;
}

.btnTab:hover {background-color: #636363}

.btnTab:active {
  background-color: #464646;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/** et la */


.profile-nav, .profile-info{
    margin-top:30px;   
}

.profile-nav .user-heading {
    background: #252525;
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    text-align: center;
    height:125px;
    padding-top: 52px;
    border-radius: 15px;

}

.profile-nav .user-heading.round a  {
    border-radius: 8px;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(255,255,255,0.3);
    display: inline-block;
}

.profile-nav .user-heading h1 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;

}



.bio-graph-heading {
    background: #252525;
    color: #fff;
    text-align: center;
    padding: 5px 110px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 8px;
    height:30px;
    border-radius: 15px;

}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #464646;
}


.bio-graph-heading-profil{
    text-align: center;
    padding: 5px 110px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 8px;
    height:30px;
    border-radius: 15px;
}
.titre{
    font-size: 15px;
}
.bio-row {
    width: 50%;
    float: left;
    padding:0 30px;
}

.bio-row p span {
    width: 100px;
    display: inline-block;
    
}


.form-control{
    height: 27px;
}



  .form-input{
    width: 100%;
    padding: 12px 20px;
    height: 48px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #464646;

  }

  input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #464646;
    
  }

  
.modal-input{
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #464646;

}


.toHide{
  display: none;
}

.rightInputs{
  margin-top: 23%;
  margin-bottom: 50px;
}


.btnTab {
  padding-bottom: 25px;
  padding-top: 5px;
  width: 50px;
  font-size: 14px;
  margin-top: 3px;
  
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #464646;
  border: none;
  border-radius: 15px;
  height: 5px;
}

.btnTab:hover {background-color: #636363}

.btnTab:active {
  background-color: #464646;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.btnModal {
  padding-bottom: 25px;
  padding-top: 5px;
  width: 100px;
  font-size: 14px;
  
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #464646;
  border: none;
  border-radius: 15px;
  height: 5px;
}

.btnModal:hover {background-color: #636363}

.btnModal:active {
  background-color: #464646;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

