.div-add{
    margin-top: 4%;
}

.validation{
  color:green;
}

.notValidation{
  color: red;
}

.btnEditer2 {
  margin-left: 1%;
  float: left;
    padding: 10px 25px;
    width: 110px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #363636;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
.btnEditer {
  margin-top: 6%;
  margin-left: 5%;
  float: left;
    padding: 10px 25px;
    width: 45%;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #363636;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 5%;
  }
  
  .btnEditer:hover {background-color: #464646}
  
  .btnEditer:active {
    background-color: #363636;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid#464646;
  }



  input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #464646;
    
  }

  input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #464646;
  }

  .form-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #464646;

  }


  
  
  .img1{
    height: 30px;
  }
  
  .bouttonMenu:hover {background-color: bl}
    
  .bouttonMenu:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .bouttonSousMenu {
      float: left;
      height: 40px;
      width: 40px;
      font-size: 13px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #ffbf35;
      border: none;
      border-radius: 100%;
      margin-bottom: 5%;
      margin-right: 10px;
    }
  
  
    .buttonAdd{
      float: right;
      height: 40px;
      width: 40px;
      font-size: 13px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #ffbf35;
      border: none;
      border-radius: 100%;
      margin-right: 10px;
    }
  
  
  .buttonAdd:hover {background-color: bl}
    
  .buttonAdd:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }