<app-administrateur></app-administrateur>

<br><br><br>


<div class="container">
<div class="panel">
    <div class="bio-graph-heading-profil">

    </div>

    
    <div class="panel-body bio-graph-info">
        <h2>Ajouter un  client</h2>

        <hr>       <div class="row">
    
            <div class="bio-row">
              <div class="inputbox mt-1"><span class="input-title">Nom client:</span> <input type="text"   required [(ngModel)]="newClient.name" name="newClient.name"> </div>
         
    
            </div>
      
         
            <div class="bio-row">

                <div class="inputbox mt-1"><span class="input-title"class="input-title">Type :</span><br>
                    <select class="form-input" aria-label="Default select example" required [(ngModel)]="newClient.typeClient" name="newClient.typeClient">
                    <option value="new  ">Type 1</option>
                    <option value="type2">Type 2</option>
                  </select>  </div> 

                   
    </div>
    


        <div class="bio-row"></div>

          <div class="bio-row">
              
           <br>
           <div class="inputbox mt-1">
            <button class="button" data-toggle="modal" data-target="#DeleteModal">Ajouter</button>

            <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Êtes vous sur de vouloir supprimer?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addClient()" >Ajouter</button>
                  </div>
                </div>
              </div>
            </div>
           
    
          </div>
    
        </div>
    </div>
    </div></div>