<app-administrateur></app-administrateur>

<br><br><br>


<div class="container">
  <div class="panel">
    <div>
      <button class="img-fluid bouttonMenu">
        <img class="img1"
          src="https://img-premium.flaticon.com/png/512/3233/3233497.png?token=exp=1623226098~hmac=3a138cb47c1e50795a2a9ef7a0d9e2e6">
      </button>
      <h2>Ajouter nouvelle mission</h2>
    </div>
    <hr>




    <div class="panel-body bio-graph-info">

      <br>
      <div class="row">

        <div class="bio-row">
    
          <div class="inputbox mt-1">
            <span class="input-title">Nom du client  : </span><br>
            <select class="form-input" aria-label="Default select example"  required [(ngModel)]="idClientByName" name="idClientByName" (change)="updateClientRef()">
              <option *ngFor="let client of clients" value="{{client.id}}">{{client.name}}</option>
              </select>
          </div>
      
          <div class="inputbox mt-1">
            <span class="input-title">Date de début :</span>
             <input type="Date" required [(ngModel)]="startDate" name="startDate">
             </div>

          <div class="inputbox mt-1">
            <span class="input-title">Nom de la mission :</span>
             <input type="text" autocomplete="off" required [(ngModel)]="newMission.missionTitle" name="newMission.missionTitle">
           </div>



        </div>

        <div class="bio-row">

          <div class="inputbox mt-1">
            <span class="input-title" >Réf. client :</span><br>
            <select class="form-input" aria-label="Default select example" required [(ngModel)]="idClientByRef" name="idClientByRef" (change)="updateClientName()">
              <option *ngFor="let client of clients" value="{{client.id}}">{{client.ref}}</option>
            </select>
          </div>
          
      
          <div class="inputbox mt-1">
            <span class="input-title">Date de fin :</span>
             <input type="Date" required [(ngModel)]="endDate" name="endDate"> 
            </div>

            
           <div class="inputbox mt-1">
            <!-- <button type="button" class="btnTab" data-toggle="modal" [attr.data-target]=" '#myMissionModal'">Assigne project</button>-->

            <div  class="projectTable">
              <table class="table">
               
                <tbody>
                    <div *ngFor="let field of fieldArray; let indexOfElement = index">
                          <input   class="input-modal" [(ngModel)]="field.code" autocomplete="off"   name="{{field.code}}" id="projectName-{{indexOfElement}}" disabled />
                            <button class="btn btn-dark btn-block buttonModal"  type="button" (click)="deleteFieldValue(indexOfElement)">-</button>
                    </div>


                    <div>
                          <input class="input-modal"  placeholder="Ajouter un projet"  autocomplete="off" id="newAttributeCode" [(ngModel)]="newAttribute.code" name="newAttributeCode" />
                            <button class="btn btn-dark btn-block buttonModal" type="button" (click)="addFieldValue()">+</button>
                      </div>

                </tbody>
            </table> 
            
            </div>

            

             </div>
        </div>

      </div>


   










        <div class="modal fade" id="myMissionModal" role="dialog">
          <div class="modal-dialog modal-xl">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h3>Projets à attribuer:</h3>
                <div class="toHide">
                   <!-- <input type="text" disabled> -->
                </div>
              </div>
              <div class="modal-body">
         
              <!-- 
                <table class="table table-striped table-bordered">
                  <thead>
                      <tr>
                          <th>Nom projet</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let field of fieldArray; let indexOfElement = index">
                          <td>
                            <input  class="form-control" type="text" name="projectName-{{indexOfElement}}" id="projectName-{{indexOfElement}}"/>
                          </td>
                          <td>
                              <button class="btn btn-default"  type="button" (click)="deleteFieldValue(indexOfElement)">Delete</button>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <input class="form-control" type="text" id="newAttributePrice" />
                          </td>
                          <td>
                              <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                          </td>
                      </tr>
                  </tbody>
              </table>

              -->


                <div class="modal-footer">
                  <button class="btnModal" type="submit" >Maj</button>
                  <button class="btnModal" type="submit">Supprimer</button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="bio-row"></div>

        <div class="bio-row">


          <button class="button" (click)="goToSearch()">Retour</button>

          <button class="button" data-toggle="modal" data-target="#DeleteModal">Ajouter</button>

          <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Alert delete</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Êtes vous sur de vouloir supprimer?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="addMission()">Ajouter</button>
                </div>
              </div>
            </div>
          </div>




      </div>
    </div>
  </div>
