.photo{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.BonjourX{
    margin-left: 41%;
    margin-bottom: 5%;
}

.leMenu{
    margin-left: 20%;
}

.leProfil{
    margin-left: 42%;
}
.monProfil{
    margin-left: 45%;
}

.test{
    height: 1000px;
}



.profil-image{
    height: 140px;
    border-radius: 100px;
    margin-bottom: 10px;
}


.img1{
    height: 60px;
}
.titre{
    margin-left: 13%;
}

.Presentation{
    margin-top: 110px;
}



.bouttonMenu:hover {background-color: bl}
  
.bouttonMenu:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



.bouttonMenu {
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 50px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ffbf35;
    border: none;
    border-radius: 100%;
    box-shadow: 0 9px #999;
    margin-bottom: 5%;
  }