<nav class="navbar navbar-expand-lg  bg">

    <img class="logo" src="https://www.infocom-group.fr/dist/img/logo_symbole.png" width="80">
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
              <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
    
                <div class="text-nav">
        <ul class="navbar-nav">

            <!--
          <li class="nav-item">
            <a class="nav-link active link-page " href="#">Accueil <span class="sr-only">(current)</span></a>
          </li>
      -->
          

        <div class="container">
            <div class="row">
                <div class="dropdown ">
                    <a class="dropdown-toggle nav-link link-page " data-toggle="dropdown" href="#">Gestions
                        <span class="caret "></span></a>
                    <ul class="dropdown-menu multi-level  " role="menu" aria-labelledby="dropdownMenu">
                 
                    
                      <li class="dropdown-submenu lien-pos ">
                        <a tabindex="-1" class="dropdown-link "  href="searchCollaborateur">Collaborateurs</a>
                        <ul class="dropdown-menu">
                          <li class="lien-pos" ><a class="dropdown-link" href="addCollaborateur">Ajouter</a></li>    
                          <li class="lien-pos" ><a class="dropdown-link" href="searchCollaborateur">Editer</a></li>    
                        </ul>
                      </li>

                      <li class=" lien-pos">
                        <a  class="dropdown-link "href="searchFrais">Note de frais</a>
                     
                    </li>

                      <li class="dropdown-submenu lien-pos">
                        <a tabindex="-1" class="dropdown-link " href="#">Congées</a>
                        <ul class="dropdown-menu">
                          <li class="lien-pos"><a class="dropdown-link "  href="#">Second level</a></li>    
                          <li class="lien-pos"><a class="dropdown-link "  href="#">Second level</a></li>
                          <li class="lien-pos"><a class="dropdown-link " href="#">Second level</a></li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu lien-pos">
                        <a tabindex="-1" class="dropdown-link  " href="#">Missions</a>
                        <ul class="dropdown-menu">
                          <li class="lien-pos"><a class="dropdown-link " href="#">Second level</a></li>    
                          <li class="lien-pos"><a  class="dropdown-link " href="#">Second level</a></li>
                          <li class="lien-pos"><a class="dropdown-link "   href="#">Second level</a></li>
                        </ul>
                    </li>

                 
                    </ul>
                </div>
            </div>
        </div>


          <li class="dropdown nav-item " >
            <a class="dropdown-toggle nav-link link-page" data-toggle="dropdown" href="#">Informations
            <span class="caret"></span></a>
            <ul class="dropdown-menu ">
              <li class="lien-pos"><a class="dropdown-link " href="#">Instructions</a></li>
              <li class="lien-pos"><a class="dropdown-link  "  href="#">Satistiques</a></li>
            </ul>
        </li>


        </ul>
    </div>

    <!--
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link link-page" href="#">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-page" href="#">Disconnect</a>
          </li>
        </ul>
    -->
      </div>
    </nav>

  
  