
<app-administrateur></app-administrateur>


<div class="div-add">
    <div class="container ">
        <h3>Ajouter note de frais</h3>
        <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="form">
                <div class="inputbox mt-3"> <span>Nom</span> <input type="text" placeholder="Nom de famille" name=""> </div>
                <div class="inputbox mt-3"> <span>Prenom</span> <input type="text" placeholder="Prenom" name="" > </div>
                <div class="inputbox mt-3"> <span>Mot de passe</span> <input type="text" placeholder="Mot de passe" name="" > </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form">
            <div class="inputbox mt-3"> <span>Date request</span> <input type="date" name="" class="form-control"> </div>
            <div class="inputbox mt-3"> <span>Date expense</span> <input type="date"  name="" class="form-control"> </div>
            <div class="inputbox mt-3"><span>Status</span><br>
                <select class="form-control" aria-label="Default select example">
                <option value="1">En cours</option>
                <option value="2">valider</option>
                <option value="2">refuser</option>

              </select>
            </div>
            </div>
        </div>
    </div>
    
    <button class="btnEditer">Ajouter</button></div></div>