<app-administrateur></app-administrateur>

<br><br><br>


<div class="container">
<div class="panel">
    <div class="bio-graph-heading-profil">
    
      <div class="container ">

      </div>
    </div>
   
    
    
    <div class="panel-body bio-graph-info">
      <h2>Ajouter type d'activité</h2>
      <hr>
         
          <br>
       <div class="row">
    
            <div class="bio-row">
              <div class="inputbox mt-1"><span class="input-title">Type :</span> <input type="text" placeholder="nom du type" required [(ngModel)]="typeActivity.type" name="type"> </div>
    
          </div>
          
           



          <div class="bio-row">
            <br>    <br>

            <button class="button" data-toggle="modal" data-target="#updateModal">Ajouter</button>

            <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert add</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Êtes vous sur de vouloir ajouter?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addNewTypeActivity()" >Ajouter</button>
                  </div>
                </div>
              </div>
            </div>



           
    
             
          </div>
    
        </div>
    </div>
    </div></div>