<app-administrateur></app-administrateur>

<br><br><br><br>

<div class="container">
  <div class="panel">
    <span>
      <button class="img-fluid bouttonMenu ">
        <img class="img1" src="https://image.flaticon.com/icons/png/512/4117/4117837.png ">
      </button>
      <h2 class="page">Gestion de la note de frais de : {{collaborator.firstName}} {{collaborator.lastName}} du  {{expense.dateRequest | date: 'dd/MM/yyyy'}}</h2>
    </span>
    <hr>

    <div class="panel-body bio-graph-info">
      <br>
      <div class="row">
        <div class="bio-row">

          <div class="inputbox mt-1">
            <span class="input-title ">Cout HT : {{expense.costHT}} €</span> 
            <input type="text"   name="expenseCostHT" id="expenseCostHT" > 
          </div>

          <div class="inputbox mt-1">
            <span class="input-title ">Cout TVA : {{expense.costTVA}} €</span>
            <div class="input-group-prepend">
              <input type="text" name="expenseCostTVA" id="expenseCostTVA" > 
            </div>
          </div>
      
          <div class="inputbox mt-1">
            <span class="input-title">Facturable : {{expense.billable}} </span><br>
            <select class="form-input" aria-label="Default select example" name="expenseBillable" id="expenseBillable"  >
              <option value="true">Oui</option>
              <option value="false">Non</option>
            </select>
          </div>

        </div>

     
        <div class="bio-row">
          <div class="inputbox mt-1">
            <span class="input-title">Date de frais : {{expense.dateExpense | date:'dd/MM/yyyy'}}</span> 
            <input type="Date"  name="dateExpense" id="dateExpense"  > 
          </div>

          <div class="inputbox mt-1">
            <span class="input-title">Type : {{expense.typeExpense.type}}</span><br>
            <select class="form-input" name="expenseType" id="expenseType"  >              
              <option *ngFor="let allTypeExpens of allTypeExpense" value="{{allTypeExpens.id}}">{{allTypeExpens.type}} </option>
            </select>
          </div>

          <div class="inputbox mt-1"><span class="input-title">État de la demande : {{expense.status}}</span><br>
            <select class="form-input" aria-label="Default select example" name="expenseStatus" id="expenseStatus">
              <option *ngFor="let statu of status" value={{statu}}>{{statu}}</option>
            </select>
          </div>
        </div>

     


        <div class="bio-row"></div>

        <div class="bio-row">

          <button class="btnAction" (click)="goToSearch()">Retour</button>

          <button class="btnAction" data-toggle="modal" data-target="#updateModal">Mettre à jour</button>



          <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Alert update</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Êtes vous sur de vouloir mettre à jour ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="updateExpense()">Sauvgarder</button>
                </div>
              </div>
            </div>
          </div>


          <button class="btnAction" data-toggle="modal" data-target="#DeleteModal">Supprimer</button>


          <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Alert delete</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Êtes vous sur de vouloir supprimer?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="deleteExpense()">Supprimer</button>
                </div>
              </div>
            </div>
          </div>




        </div>

      </div>
    </div>
  </div>
</div>