<app-administrateur></app-administrateur>




<div class="font-div1">
          <div class="container">
            <div>
              <button class="img-fluid bouttonMenu">
                <img class="img1"
                  src="https://img-premium.flaticon.com/png/512/3233/3233497.png?token=exp=1623226098~hmac=3a138cb47c1e50795a2a9ef7a0d9e2e6">
              </button>
        
              <button (click)="goToAccueil()" class="img-fluid buttonAdd ">
                <img class="img1" src="https://image.flaticon.com/icons/png/512/1276/1276491.png">
              </button>

              <button (click)="goToAddMission()" class="img-fluid buttonAdd ">
                <img class="img1" src="https://image.flaticon.com/icons/png/512/1632/1632686.png">
              </button>

      
              <h2 class="page">Gestion des missions</h2>
            </div>    
        <hr>
  
      



  

      <div class="container">

        <div class="row">
          <div class="col-sm-4">
            <span>Mission débutant entre :</span>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-4"><input type="date" required [(ngModel)]="date1" name="date1"></div>
            <div class="col-sm-4"><input type="date" required [(ngModel)]="date2" name="date2" ></div>
            <div class="col-sm-4"><button class="btnSearch" type="submit" (click)="searchMission()">Chercher</button></div>
            <div class="col-sm-8"><br><br>
              <span>Nom du client : </span>  <input type="text" required [(ngModel)]="clientName" name="clientName" >
            </div>

    </div>

        <br><br><br><br>

        <h2>Résultat : {{nbResultat}}</h2>
        <hr>
        <table class="table ">
            <thead>
              <tr>
                <th><p class="titreTable">Nom de la mission </p></th>
                <th><p class="titreTable">Date de début</p></th>
                <th><p class="titreTable">Date de fin</p></th>
           


                <th ><p class="commande titreTable">Action</p></th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mission of missions">
                <td>{{mission.missionTitle}}</td>
                <td>{{mission.startDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{mission.endDate | date: 'dd/MM/yyyy' }}</td>
       

                <td>
                    <button class="btnEditer" type="submit" (click)="goGerer()" >Gérer</button>
                </td>
            </tr>
            </tbody>
          </table>



       
        </div>
    </div>
<br><br><br><br><br><br>