<app-administrateur></app-administrateur>



<div class="font-div1">
    <div class="container mt-3">
        <form class="example" action="action_page.php">
            <input type="text" placeholder="Search by name.." name="search">
            <button type="submit"><i class="fa fa-search">Chercher</i></button>
          </form>
        <br><br>
        <h2>Resultat</h2>
        <table class="table table-condensed">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Date entrée</th>
                <th>Date Sortie</th>
                <th>Actions</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Shakibaei</td>
                <td>Mohammad</td>
                <td>mohashakibaei@outlook.fr</td>
                <td>14/02/2000</td>
                <td>22/03/2021</td>
                <td>
                    <button class="btnEditer" type="submit" (click)="goToEditCollab()"><i >Editer</i></button>
                </td>
            </tr>
     
            </tbody>
          </table>
  
        </div>
    </div>