<app-administrateur></app-administrateur>


<div class="font-div1">
  <div class="container">
    <h2>Gestion des collaborateurs</h2>
    <hr>
<div>
    <div class="container mt-3">
        <form class="example" action="action_page.php" #addCollabForm="ngForm" (ngSubmit)="searchOneCollab()">
            <input type="text" placeholder="Search by name.."  required [(ngModel)]="collaboratorInputLastName.lastName" name="lastName">
            <button type="submit"><p>Chercher</p></button>
          </form>

        <br><br>
        <h2>Resultat  </h2> 
        <table class="table ">
            <thead>
              <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Mail</th>
                <th>Date entrée</th>
                <th>Date Sortie</th>
                <th>Actions</th>

              </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let collaborator of collaborators">
                    <td>{{collaborator.firstName}}</td>
                    <td>{{collaborator.lastName}}</td>
                    <td>{{collaborator.email}}</td>
                    <td>{{collaborator.dateOfEntry}}</td>
                    <td>{{collaborator.dateOfRelease}}</td>

                <td>
                    <button class="btnEditer" type="submit" (click)="goToEditCollab()">Editer </button>
                </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
    </div>
    </div>
    
    
<!--     <app-child [childMessage]="parentMessage"></app-child>
 -->
