.font-div1{
    margin-top: 5%;
}


* {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height:47px;


  }

 

  
  form.example button {
    float: left;
    width: 120px;
    padding-top: 12px;

    background: #363636;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

  }
  
  form.example button:hover {
    background:#464646;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


.toHide{
    display:none;
}

  
  .img1{
    height: 30px;
  }
  
  .bouttonMenu:hover {background-color: bl}
    
  .bouttonMenu:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .bouttonSousMenu {
      float: left;
      height: 40px;
      width: 40px;
      font-size: 13px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #ffbf35;
      border: none;
      border-radius: 100%;
      margin-bottom: 5%;
      margin-right: 10px;
    }

    .titreTable{
      margin-top: 3px;
      margin-bottom: -3px;

    }

  
    .buttonAdd{
      float: right;
      height: 40px;
      width: 40px;
      font-size: 13px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #ffbf35;
      border: none;
      border-radius: 100%;
      margin-right: 10px;
    }
  
  .contentTable{
    margin-top: 15px;
  }
  .buttonAdd:hover {background-color: bl}
    
  .buttonAdd:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  
.btnTab {
  padding-bottom: 25px;
  padding-top: 5px;
  width: 50px;
  font-size: 14px;
  margin-top: 3px;
  
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #464646;
  border: none;
  border-radius: 15px;
  height: 5px;
}

.btnTab:hover {background-color: #636363}

.btnTab:active {
  background-color: #464646;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}