<app-administrateur></app-administrateur>


<div class="font-div1">
  <div class="container">
    <div>
      <button class="img-fluid bouttonSousMenu">
        <i class="fas fa-users"></i>

      </button>


      <!-- <button (click)="goToAccueil()" class="img-fluid buttonAdd ">
        <img class="img1" src="https://image.flaticon.com/icons/png/512/1276/1276491.png">
      </button>
 -->


      <button (click)="goToAddCollab()" class="img-fluid buttonAdd ">
        <i class="fas fa-plus"></i>      </button>

      
      <h2 class="page">Gestion des collaborateurs</h2>
    </div>

    <hr>
    <div>
      <div class="container mt-3"><br>
        <form class="example" action="action_page.php" #addCollabForm="ngForm" (ngSubmit)="searchOneCollab()">
          <input type="text" autocomplete="off" placeholder="Prénom du collaborateur" required
            [(ngModel)]="collaboratorInputLastName.lastName" name="lastName">

          <button  class="btnSearch gb2 gb-bordered hover-slide" id="gb79" >
            <p>Chercher</p>
          </button>

        </form>

        <br><br><br>

        <div *ngIf="collaborators">

          <h2>Résultat : {{nbResultat}} résultat trouvé pour cette recherche. </h2>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>
                  <p class="titreTable">Nom</p>
                </th>
                <th>
                  <p class="titreTable">Prénom</p>
                </th>
                <th>
                  <p class="titreTable">Mail</p>
                </th>

                <th>
                  <p class="commande titreTable">Action</p>
                </th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let collaborator of collaborators">
                <td>
                  <p class="contentTable">{{collaborator.firstName}}</p>
                </td>
                <td>
                  <p class="contentTable">{{collaborator.lastName}}</p>
                </td>
                <td>
                  <p class="contentTable">{{collaborator.email}}</p>
                </td>

                <td>
                  <button class="btnEditer gb2 gb-bordered hover-slide" id="gb79"  type="submit" (click)="goToEditCollab()">Éditer </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>


<!--     <app-child [childMessage]="parentMessage"></app-child>
 -->