<app-administrateur></app-administrateur>

<br><br><br>


<div class="container">
<div class="panel">
  <div>
    <button class="img-fluid bouttonSousMenu">
      <img class="img1"
        src="https://img-premium.flaticon.com/png/512/1605/1605350.png?token=exp=1623225972~hmac=281810e2540b4ab7634a155fd570eaa2">
    </button>
    <h2 class="page">Modification du client :</h2>
  </div>
<hr>
    
    
    <div class="panel-body bio-graph-info">
          <br>
       <div class="row">
    
            <div class="bio-row">
              <div class="inputbox mt-1"><span class="input-title">Nom du client : {{client.name}}</span> <input type="text" required [(ngModel)]="updatedClient.name" name="updatedClient.name"  > </div>
    
            </div>
            <div class="bio-row">

              <div class="inputbox mt-1"><span class="input-title">Référence du client : {{client.ref}}</span> <input type="text" required [(ngModel)]="updatedClient.ref" name="updatedClient.ref"> </div>

                <div class="inputbox mt-1"> <div class="inputbox mt-1"><span class="input-title" >Type de client : {{client.typeClient.type}}</span><br>
                  <select class="form-input" aria-label="Default select example" required [(ngModel)]="idOfClientType" name="idOfClientType" (change)="getClientType()">
                    <option *ngFor="let allClientTypes of allClientType" value="{{allClientTypes.id}}">{{allClientTypes.type}}</option>
                  </select>  </div> </div>
         
           
    </div>
    


        <div class="bio-row"></div>

          <div class="bio-row">
            <br>    <br>

            <button class="button" data-toggle="modal" data-target="#updateModal">Mettre à jour</button>

            <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert update</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Êtes vous sur de vouloir mettre à jour ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateClient()" >Sauvgarder</button>
                  </div>
                </div>
              </div>
            </div>



            <button class="button" data-toggle="modal" data-target="#DeleteModal">Supprimer</button>

            <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alert delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Êtes vous sur de vouloir supprimer?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteClient()">Supprimer</button>
                  </div>
                </div>
              </div>
            </div>
           
    
             
          </div>
    
        </div>
    </div>
    </div></div>