<app-utilisateur></app-utilisateur>
<br><br><br>
  
<!-- Declaration d'activité  -->

<div class="contenue">
<div class="Frais">
<div class="activ">
  <div class="">
    <h2> Declaration d'activité </h2>
 </div>
<select class="form-input2" aria-label="Default select example">
    <option value="1">Janvier</option>
    <option value="2">Fevrier</option>
  </select>
  <table class="table ">
    <thead>
      <tr>
        <th>CLIENT	</th>
        <th>REF.INTERNE	</th>
        <th>REF.CLIENT	</th>
        <th>R.AUTO	</th>
       
        <th *ngFor="let element of tabJours;">{{element}}	</th>
        <th>total</th>
      </tr>
    </thead>
    <tbody>

      <!-- declaration 1 -->

      <tr>
        <td>
          <select class="form-input" aria-label="Default select example">
            <option value="1">Projet 1</option>
            <option value="2">Projet 2</option>
        </select>
      </td>
        <td><input  class=" choice"></td>
        <td><input class=" choice"></td>
        <td>
          <button class="btnRemplir" (click)="remplirProjet1()">Remplir</button>
          <button class="btnRemplir">TAD</button>

        </td>
        <td *ngFor="let element of tabJours;let indexOfelement=index;">


            <input class=" inputDay"  name="jour-{{indexOfelement}}" id="jour-{{indexOfelement}}" type="number" value="{{dureeProjet1}}" >

            

            <input type="checkbox" class="inputRemote"   name="remote-{{indexOfelement}}" id="remote-{{indexOfelement}}" value="{{isRemote}}">


          </td>
        <td ><input class=" inputDay" type=""  value={{totalProjet1}} id="" required [(ngModel)]="totalProjet1" name="totalProjet1"></td>
      </tr>


            <!-- declaration 2 -->

     
            <tr>
              <td>
                <select class="form-input" aria-label="Default select example">
                  <option value="1">Projet 1</option>
                  <option value="2">Projet 2</option>
              </select>
            </td>
              <td><input  class=" choice"></td>
              <td><input class=" choice"></td>
              <td><button class="btnRemplir" (click)="remplirProjet2()">1 -></button></td>
              
              <td  *ngFor="let element of tabJours;"><input class=" inputDay" type="" name="" value="{{dureeProjet2}}" id=""></td>
              <td ><input class=" inputDay" type="" name="" value={{totalProjet2}} id=""></td>
      
            </tr>
      
            <!-- declaration 3 -->

     
            <tr>
              <td>
                <select class="form-input" aria-label="Default select example">
                  <option value="1">Projet 1</option>
                  <option value="2">Projet 2</option>
              </select>
            </td>
              <td><input  class=" choice"></td>
              <td><input class=" choice"></td>
              <td><button class="btnRemplir" (click)="remplirProjet3()">1 -></button></td>
              
              <td  *ngFor="let element of tabJours;"><input class=" inputDay" type="" name="" value="{{dureeProjet3}}" id=""></td>
              <td ><input class=" inputDay" type="" name="" value={{totalProjet3}} id=""></td>
      
            </tr>
      
            <!-- declaration 4 -->

      
   
            <tr>
              <td>
                <select class="form-input" aria-label="Default select example">
                  <option value="1">Projet 1</option>
                  <option value="2">Projet 2</option>
              </select>
            </td>
              <td><input  class=" choice"></td>
              <td><input class=" choice"></td>
              <td><button class="btnRemplir" (click)="remplirProjet4()">1 -></button></td>
              
              <td  *ngFor="let element of tabJours;"><input class=" inputDay" type="" name="" value="{{dureeProjet4}}" id=""></td>
              <td ><input class=" inputDay" type="" name="" value={{totalProjet4}} id=""></td>
      
            </tr>

    </tbody>
  </table>
</div>
</div>
</div>


<br><br>
<br><br>

<!-- Astreinte -->

<div class="contenue">

  <div class="Frais">
  <div class="activ">
    <div class="">
      <h2> Astreinte </h2>
   </div>
  <select class="form-input2" aria-label="Default select example">
      <option value="1">Janvier</option>
      <option value="2">Fevrier</option>
    </select>
    <table class="table ">
      <thead>
        <tr>
          <th>CLIENT	</th>
          <th>TYPE	</th>
          <th>UNITE	</th>
          <th>R.AUTO	</th>
          <th *ngFor="let element of tabJours;">{{element}}	</th>
          <th>total</th>
        </tr>
      </thead>
      <tbody>

<!-- Declaration 1 -->

        <tr>
          <td>
            <select class="form-input" aria-label="Default select example">
              <option value="1">Projet 1</option>
              <option value="2">Projet 2</option>
          </select>
        </td>
        <td>
          <select class="form-input" aria-label="Default select example">
            <option value="1">Projet 1</option>
            <option value="2">Projet 2</option>
        </select>
      </td>
      <td>
        <select class="form-input" aria-label="Default select example">
          <option value="1">Projet 1</option>
          <option value="2">Projet 2</option>
      </select>
    </td>         
     <td><button class="btnRemplir">1 -></button></td>
    <td  *ngFor="let element of tabJours;"><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
        </tr>

<!-- Declaration 2 -->

        <tr>
          <td>
            <select class="form-input" aria-label="Default select example">
              <option value="1">Projet 1</option>
              <option value="2">Projet 2</option>
          </select>
        </td>
        <td>
          <select class="form-input" aria-label="Default select example">
            <option value="1">Projet 1</option>
            <option value="2">Projet 2</option>
        </select>
      </td>
      <td>
        <select class="form-input" aria-label="Default select example">
          <option value="1">Projet 1</option>
          <option value="2">Projet 2</option>
      </select>
    </td>          <td><button class="btnRemplir">1 -></button></td>
    <td  *ngFor="let element of tabJours;"><input class=" inputDay" type="" name="" id=""></td>

          <td><input class=" inputDay" type="" name="" id=""></td>
        </tr>
<!-- Declaration 3 -->


        <tr>
          <td>
            <select class="form-input" aria-label="Default select example">
              <option value="1">Projet 1</option>
              <option value="2">Projet 2</option>
          </select>
        </td>
        <td>
          <select class="form-input" aria-label="Default select example">
            <option value="1">Projet 1</option>
            <option value="2">Projet 2</option>
        </select>
      </td>
      <td>
        <select class="form-input" aria-label="Default select example">
          <option value="1">Projet 1</option>
          <option value="2">Projet 2</option>
      </select>
    </td>          <td><button class="btnRemplir">1 -></button></td>
    <td  *ngFor="let element of tabJours;"><input class=" inputDay" type="" name="" id=""></td>

          <td><input class=" inputDay" type="" name="" id=""></td>
        </tr> 
        
<!-- Declaration 4 -->

        
        <tr>
          <td>
            <select class="form-input" aria-label="Default select example">
              <option value="1">Projet 1</option>
              <option value="2">Projet 2</option>
          </select>
        </td>
        <td>
          <select class="form-input" aria-label="Default select example">
            <option value="1">Projet 1</option>
            <option value="2">Projet 2</option>
        </select>
      </td>
      <td>
        <select class="form-input" aria-label="Default select example">
          <option value="1">Projet 1</option>
          <option value="2">Projet 2</option>
      </select>
    </td>          <td><button class="btnRemplir">1 -></button></td>
    <td  *ngFor="let element of tabJours;">
      <input class=" inputDay" type="" name="" id="">
    
    </td>
    <td  *ngFor="let element of tabJours;"><input class=" inputDay" type="" name="" id=""></td>

          <td><input class=" inputDay" type="" name="" id=""></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>

 

<div class="register">
  <button class="send" (click)="EnregisterEtEnvoyer()">Enregister & Envoyer</button>
  <button  class="send">Imprimer</button>
  <button  class="send">Aide</button>
</div>

<input type="date" value="2000-02-14"required [(ngModel)]="aujourdhui" name="aujourdhui" >

  <br><br><br><br>

  
 
