<app-utilisateur></app-utilisateur>
<br><br><br>
  

<div class="contenue">
<div class="Frais">
<div class="activ">
    <h2> Notes de frais </h2>
  <select class="form-input2" aria-label="Default select example">
    <option value="1">Janvier</option>
    <option value="2">Fevrier</option>
  </select>  

  <table class="table ">
    <thead>
      <tr>
        <th>CLIENT	</th>
        <th>REF.INTERNE	</th>
        <th>REF.CLIENT	</th>
        <th>R.AUTO	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>Sa 1	</th>
        <th>total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <select class="form-input" aria-label="Default select example">
            <option value="1">Projet 1</option>
            <option value="2">Projet 2</option>
        </select>
      </td>
        <td><input  class=" choice"></td>
        <td><input class=" choice"></td>
        <td><button class="btnRemplir">1 -></button></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
      </tr>
      <tr>
        <td>
          <select class="form-input" aria-label="Default select example">
            <option value="1">Projet 1</option>
            <option value="2">Projet 2</option>
        </select>
      </td>
        <td><input  class=" choice"></td>
        <td><input class=" choice"></td>
        <td><button class="btnRemplir">1 -></button></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
      </tr> <tr>
        <td>
          <select class="form-input" aria-label="Default select example">
            <option value="1">Projet 1</option>
            <option value="2">Projet 2</option>
        </select>
      </td>
        <td><input  class=" choice"></td>
        <td><input class=" choice"></td>
        <td><button class="btnRemplir">1 -></button></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
      </tr> <tr>
        <td>
          <select class="form-input" aria-label="Default select example">
            <option value="1">Projet 1</option>
            <option value="2">Projet 2</option>
        </select>
      </td>
        <td><input  class=" choice"></td>
        <td><input class=" choice"></td>
        <td><button class="btnRemplir">1 -></button></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
        <td><input class=" inputDay" type="" name="" id=""></td>
      </tr>

    </tbody>
  </table>
</div>
</div>
</div>
<br><br>
<br><br>

<div class="contenue">

  <div class="Frais">
  <div class="activ">
    <div class="">
      <h2> Astreinte </h2>
   </div>

    <table class="table ">
      <thead>
        <tr>
          <th>CLIENT	</th>
          <th>TYPE	</th>
          <th>UNITE	</th>
          <th>R.AUTO	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>Sa 1	</th>
          <th>total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <select class="form-input" aria-label="Default select example">
              <option value="1">Projet 1</option>
              <option value="2">Projet 2</option>
          </select>
        </td>
        <td>
          <select class="form-input" aria-label="Default select example">
            <option value="1">Projet 1</option>
            <option value="2">Projet 2</option>
        </select>
      </td>
      <td>
        <select class="form-input" aria-label="Default select example">
          <option value="1">Projet 1</option>
          <option value="2">Projet 2</option>
      </select>
    </td>          <td><button class="btnRemplir">1 -></button></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
        </tr>
        <tr>
          <td>
            <select class="form-input" aria-label="Default select example">
              <option value="1">Projet 1</option>
              <option value="2">Projet 2</option>
          </select>
        </td>
        <td>
          <select class="form-input" aria-label="Default select example">
            <option value="1">Projet 1</option>
            <option value="2">Projet 2</option>
        </select>
      </td>
      <td>
        <select class="form-input" aria-label="Default select example">
          <option value="1">Projet 1</option>
          <option value="2">Projet 2</option>
      </select>
    </td>          <td><button class="btnRemplir">1 -></button></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
        </tr>
        <tr>
          <td>
            <select class="form-input" aria-label="Default select example">
              <option value="1">Projet 1</option>
              <option value="2">Projet 2</option>
          </select>
        </td>
        <td>
          <select class="form-input" aria-label="Default select example">
            <option value="1">Projet 1</option>
            <option value="2">Projet 2</option>
        </select>
      </td>
      <td>
        <select class="form-input" aria-label="Default select example">
          <option value="1">Projet 1</option>
          <option value="2">Projet 2</option>
      </select>
    </td>          <td><button class="btnRemplir">1 -></button></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
        </tr>  <tr>
          <td>
            <select class="form-input" aria-label="Default select example">
              <option value="1">Projet 1</option>
              <option value="2">Projet 2</option>
          </select>
        </td>
        <td>
          <select class="form-input" aria-label="Default select example">
            <option value="1">Projet 1</option>
            <option value="2">Projet 2</option>
        </select>
      </td>
      <td>
        <select class="form-input" aria-label="Default select example">
          <option value="1">Projet 1</option>
          <option value="2">Projet 2</option>
      </select>
    </td>          <td><button class="btnRemplir">1 -></button></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
          <td><input class=" inputDay" type="" name="" id=""></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>

<div class="register">
  <button class="send">Enregister & Envoyer</button>
  <button  class="send">Imprimer</button>
  <button  class="send">Aide</button>
</div>
<br><br><br><br>  <br><br><br><br>