.form-input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #464646;

  }


  

  
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid#464646;
  }




.btnAct {
    float: left;
    padding: 10px 25px;
    width: 100%;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #363636;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 5%;
  }
  
  .btnAct:hover {background-color: #464646}
  
  .btnAct:active {
    background-color: #363636;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }



  .btnEditer {
    float: left;
    padding: 10px 25px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #363636;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 5%;
  }
  
  .btnEditer:hover {background-color: #464646}
  
  .btnEditer:active {
    background-color: #363636;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#calendar {
	width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar tr, #calendar tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 width: 100%;
}

caption {
	text-align: center;
  grid-column: 1 / -1;
  font-size: 130%;
  font-weight: bold;
  padding: 10px 0;
}

#calendar a {
	color: #8e352e;
	text-decoration: none;
}

#calendar td, #calendar th {
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #ccc;
}

#calendar .weekdays {
	background: grey;  
}


#calendar .weekdays th {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	font-size: 13px;
}



#calendar td {
  display: flex;
  flex-direction: column;
}

#calendar .days li:hover {
	background: #d3d3d3;
}

#calendar .date {
	text-align: center;
	margin-bottom: 5px;
	color: black;
	width: 20px;
  flex: 0 0 auto;
  padding: 5px;
}

.form-check-label{
    margin-left: 80%;
}

.form-check-input{
    margin-top: 1px;
}

#calendar .other-month {
	background: #f5f5f5;
	color: #666;
}


@media(max-width: 768px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}
  
  #calendar, #calendar tr, #calendar tbody {
    grid-template-columns: 1fr;
  }
  
  #calendar  tr {
    grid-column: 1 / 2;
  }

	#calendar .date {
		align-self: flex-start;
	}

    
.bio-graph-heading {
    background: #252525;
    color: #fff;
    text-align: center;
    padding: 5px 110px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 8px;
    height:30px;
    border-radius: 15px;
    width: 100%;

}

.bio-graph-heading-profil{
    text-align: center;
    padding: 5px 110px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    font-size: 8px;
    height:30px;
    border-radius: 15px;
}



}