<app-administrateur></app-administrateur>




<div class="font-div1">
  <div class="container">
    <span>
      <button class="img-fluid bouttonMenu ">
        <img class="img1" src="https://image.flaticon.com/icons/png/512/4117/4117837.png ">
      </button>
      <h2 class="page">Gestion des notes de frais</h2>
    </span>

    <hr>
    <form>


    </form>




    <form class="example" action="action_page.php" #addCollabForm="ngForm" (ngSubmit)="searchExpenses()">
      <div class="container">

        <div class="row">
          <div class="col-sm-4">
            <span>Demande de note de frais entre :</span>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4"><input type="date" required [(ngModel)]="date1" name="date1">
          </div>
          <div class="col-sm-4"><input type="date" required [(ngModel)]="date2" name="date2">
          </div>
          <div class="col-sm-4"><button class="btnSearch" type="submit">Chercher</button></div>
          <div class="col-sm-8"><br><br><span>État : </span>
            <select class="form-input" aria-label="Default select example" required [(ngModel)]="status" name="status">
              <option value="en-cours">En-cours</option>
              <option value="refusé">Refusé</option>
              <option value="validé">Validé</option>
            </select>
          </div>
        </div>
      </div>
    </form>

    <br><br><br><br>

    <h2>Résultat :</h2>
    <hr>
    <table class="table ">
      <thead>
        <tr>


          <th><p class="titreTable">Nom</p></th>
          <th><p class="titreTable">Prénom</p></th>
          <th><p class="titreTable">Date de la demande</p></th>
          <th><p class="titreTable">Date de frais</p></th>
          <th><p class="titreTable">Etat de la demande</p></th>
          <th><p class="commande titreTable">Action</p></th>
    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses">

          <td>{{expense.nomCollab}}</td>
          <td>{{expense.prenomCollab}}</td>
          <td>{{expense.dateRequest | date: 'dd/MM/yyyy' }}</td>
          <td>{{expense.dateExpense | date: 'dd/MM/yyyy' }}</td>
          <td>{{expense.status}}</td>
          <td>
            <button class="btnEditer" type="submit" (click)="goToEditFrais()">Gérer</button>
          </td>
        </tr>
      </tbody>
    </table>




  </div>
</div>

<br><br><br> <br><br><br>