<app-administrateur></app-administrateur>




<div class="font-div1">
          <div class="container">
            <h2>Gestion des notes de frais</h2>
            <hr>          
  <form >


        </form>



  
      <form class="example" action="action_page.php" #addCollabForm="ngForm" (ngSubmit)="searchExpenses()">
      <div class="container">
        <div class="row">
            <div class="col-sm-4"><span>date 1 : </span><input type="date" required [(ngModel)]="date1" name="date1"></div>
            <div class="col-sm-4"><span>date 2 : </span><input type="date"  required [(ngModel)]="date2" name="date2"></div>
            <div class="col-sm-4"><button class="btnSearch" type="submit">Chercher</button></div>
            <div class="col-sm-8"><br><br><span>Status : </span>
              <select class="form-input" aria-label="Default select example"  required [(ngModel)]="status" name="status">
              <option value="1">En-cours</option>
              <option value="2">Refusé</option>
              <option value="valider">Validé</option>
              <option value="2">Toutes</option>
            </select>
          </div>  
  </div>
  </div>
  </form>

        <br><br><br><br>

        <h2>Resultat</h2>
        <hr>
        <table class="table ">
            <thead>
              <tr>
           
                <th><p class="titreTable">Date demande</p></th>
                <th><p class="titreTable">Date frais</p></th>
                <th><p class="titreTable">Status</p></th>


                <th ><p class="commande titreTable">Actions</p></th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let expense of expenses">
    
                <td>{{expense.dateRequest}}</td>
                <td>{{expense.dateExpense}}</td>
                <td>{{expense.status}}</td>
                <td>
                    <button class="btnEditer" type="submit" (click)="goToEditFrais()">Gerer</button>
                </td>
            </tr>
            </tbody>
          </table>


          
       
        </div>
    </div>

    <br><br><br>    <br><br><br>

