.font-div1{
    margin-top: 5%;
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  
  
  
  
  
  .btnEditer {
    padding: 10px 25px;
    padding-bottom: 29px;
    margin-left: 5%;
    width: 100%;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #363636;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height: 5px;
  }
  
  .btnEditer:hover {background-color: #464646}
  
  .btnEditer:active {
    background-color: #252525;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .commande{
    margin-left:40%;
  }
  
  .titreTable{
    margin-top: 3px;
    margin-bottom: -3px;
  }
  
  .btnSearch {
    padding: 10px 25px;
    padding-bottom: 29px;
    margin-top: 20px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #363636;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height: 5px;
  }
  
  .btnSearch:hover {background-color: #464646}
  
  .btnSearch:active {
    background-color: #252525;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  
  
  input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #464646;
  }
  
  .au{
  margin-top: 25px;
  }
  
  .form-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #464646;
  
  }
  

  
.img1{
  height: 30px;
}

.bouttonMenu:hover {background-color: bl}
  
.bouttonMenu:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.bouttonMenu {
    float: left;
    height: 40px;
    width: 40px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ffbf35;
    border: none;
    border-radius: 100%;
    margin-bottom: 5%;
    margin-right: 10px;
  }


  .buttonAdd{
    float: right;
    height: 40px;
    width: 40px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ffbf35;
    border: none;
    border-radius: 100%;
    margin-right: 10px;
  }


.buttonAdd:hover {background-color: bl}
  
.buttonAdd:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}