<app-administrateur></app-administrateur>




<div class="font-div1">
  <div class="container">
    <span>
      <button class="img-fluid bouttonMenu ">
        <img class="img1" src="https://image.flaticon.com/icons/png/512/4117/4117837.png ">
      </button>

      <button (click)="goToAccueil()" class="img-fluid buttonAdd ">
        <img class="img1" src="https://image.flaticon.com/icons/png/512/1276/1276491.png">
      </button>

      <h2 class="page">Gestion des notes de frais</h2>
    </span>

    <hr>
    <form>


    </form>




    <form class="example" action="action_page.php" #addCollabForm="ngForm" (ngSubmit)="searchExpenses()">
      <div class="container">

        <div class="row">
          <div class="col-sm-4">
            <span>Demande de note de frais entre :</span>
          </div>
        </div>

        <div class="row">

          <div class="col-sm-4">
            <input type="date" required [(ngModel)]="date1" name="date1">
          </div>

          <div class="col-sm-4">
            <input type="date" required [(ngModel)]="date2" name="date2">
          </div>

          <div class="col-sm-4">
            <button class="btnSearch" type="submit">Chercher</button>
          </div>

          <div class="col-sm-8"><br>
            <span>État de la demande : </span>
            <select class="form-input" aria-label="Default select example" required [(ngModel)]="searchStatus" name="searchStatus">
              <option value="en-cours">En-cours</option>
              <option value="refusé">Refusé</option>
              <option value="validé">Validé</option>
            </select>
          </div>

          <div class="col-sm-8"><br>
            <span>Prénom du collaborateur :  </span>
            <input type="text" autocomplete="off"  required [(ngModel)]="lastNameCollab" name="lastNameCollab" >
          </div>

        </div>
      </div>
    </form>

    <br><br>
    <div *ngIf="expenses">

    <h2>Résultat : {{nbResultat}}</h2>
    <p class="error">{{error}}</p>
    <hr>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>


          <th>
            <p class="titreTable">Nom</p>
          </th>
          <th>
            <p class="titreTable">Prénom</p>
          </th>
          <th>
            <p class="titreTable">Date de la demande</p>
          </th>
          <th>
            <p class="titreTable">Date de frais</p>
          </th>
          <th>
            <p class="titreTable">État de la demande</p>
          </th>
          <th>
            <p class="commande titreTable">Action</p>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses; let indexOfelement =index;">

          <td><p class="contentTable">{{expense.nomCollab}}</p></td>
          <td><p class="contentTable">{{expense.prenomCollab}}</p></td>
          <td><p class="contentTable">{{expense.dateRequest | date: 'dd/MM/yyyy' }}</p></td>
          <td><p class="contentTable">{{expense.dateExpense | date: 'dd/MM/yyyy' }}</p></td>
          <td><p class="contentTable">{{expense.status}}</p></td>
          <td>
            <button type="button"class="btn btn-dark btn-block"  data-toggle="modal" [attr.data-target]=" '#myExpenseModal-' + indexOfelement" >Éditer</button>
          </td>
        </tr>
      </tbody>
    </table>

    </div>

    <!-- Modal -->
    <div *ngFor="let expense of expenses; let indexOfelement =index;">

      <div class="modal fade" id="myExpenseModal-{{indexOfelement}}" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h3>Gestion de la demande de frais de {{expense.nomCollab}} {{expense.prenomCollab}}  du {{expense.dateRequest  | date: 'dd/MM/yyyy'}}</h3>
              <div class="toHide">
                 <input type="text" value="{{expense.id}}" name="expenseRequestId-{{indexOfelement}}" id="expenseRequestId-{{indexOfelement}}" disabled> 
              </div>
            </div>
            <div class="modal-body">
              <div class="row">

                <!-- Colonne 1-->
                <div class="col-sm-6">

                  <div class="inputbox mt-1">
                    <span> Cout HT : </span><br>
                    <input class="modal-input" type="text"  value="{{expense.costHT}} " name="expenseCostHT-{{indexOfelement}}" id="expenseCostHT-{{indexOfelement}}" (input)="updateTTC(indexOfelement)">
                  </div>

                  <div class="inputbox mt-1">
                    <span> Cout TTC :</span><br>
                    <input class="modal-input" type="text" name="newCostTTC-{{indexOfelement}}" id="newCostTTC-{{indexOfelement}}"  placeholder="{{TTCvalue}}" disabled>
                  </div>
                 
                  <div class="inputbox mt-1">
                    <span> Facturable :{{expense.billableFR}} </span><br>
                    <select class="modal-input"  name="expenseBillable-{{indexOfelement}}" id="expenseBillable-{{indexOfelement}}">
                      <option hidden value="" disabled selected>{{expense.billableFR}} </option>
                      <option value="true">oui</option>
                      <option value="false">non</option>
                    </select>
                  </div>

                  <div class="inputbox mt-1">
                    <span> Date de frais : </span><br>
                    <input class="modal-input" type="date"   value="{{expense.oldDateExpense}}" name="dateExpense-{{indexOfelement}}" id="dateExpense-{{indexOfelement}}">
                  </div>

                </div>

                <!-- Colonne 2-->
                <div class="col-sm-6">

                  <div class="inputbox mt-1">
                    <span> CoutTVA : </span><br>
                    <input class="modal-input" type="text" value="{{expense.costTVA}}"   name="expenseCostTVA-{{indexOfelement}}" id="expenseCostTVA-{{indexOfelement}}" (input)="updateTTC(indexOfelement)">
                  </div>

                  <div class="inputbox mt-1 toHide" >
                    <span> Date demande : {{expense.dateRequest  | date: 'dd/MM/yyyy'}}</span><br>
                    <input class="modal-input" type="date"   name="dateExpenseRequest-{{indexOfelement}}" id="dateExpenseRequest-{{indexOfelement}}" disabled>
                  </div>

                  <div class="inputbox mt-1">
                    <span> Type : </span><br>
                    <select class="modal-input"  name="expenseType-{{indexOfelement}}" id="expenseType-{{indexOfelement}}">
                      <option hidden value="" disabled selected>{{expense.typeExpense.type}} </option>

                      <option *ngFor="let allExpenseTypes of allExpenseType" value="{{allExpenseTypes.id}}">{{allExpenseTypes.type}}
                    </select>
                  </div>

                  <div class="inputbox mt-1">
                    <span> État de la demande :</span><br>
                    <select class="modal-input" name="expenseStatus-{{indexOfelement}}" id="expenseStatus-{{indexOfelement}}">
                      <option hidden value="" disabled selected>{{expense.status}} </option>
                      <option *ngFor="let statue of status" value={{statue}}>{{statue}}</option>
                    </select>
                  </div>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btnModal"  data-toggle="modal" data-target="#updateModal">Maj</button>
                <button type="button" class="btnModal"  data-toggle="modal" data-target="#deleteModal">Supprimer</button>
              </div>





                   <!-- modal de validation suppression-->
                   <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Supression de la demande de frais</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Êtes-vous sûr de vouloir supprimer cet demande ?                </div>
                        <div class="modal-footer">
                          <button class="btnModal"  data-dismiss="modal">Fermer</button>
                          <button class="btnModal" type="submit"data-dismiss="modal"  (click)="deleteExpenseById(expense.id,expenses,expense)">Supprimer</button>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <!-- modal validation mise à jour-->
                  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Mise à jour de la  demande de frais</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Êtes-vous sûr de vouloir mettre à jour cet demande ?                </div>
                        <div class="modal-footer">
                          <button class="btnModal"  data-dismiss="modal">Fermer</button>
                          <button class="btnModal" type="submit" (click)="updateExpense(indexOfelement)">Maj</button>
                        </div>
                      </div>
                    </div>
                  </div>
        









            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<br><br><br> <br><br><br>