.font-div1{
    margin-top: 5%;
}


* {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height:47px;

  }
  
  form.example button {
    float: left;
    width: 20%;
    padding-top: 12px;

    background: #363636;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

  }
  
  form.example button:hover {
    background:#464646;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


.toHide{
    display:none;
}
.btnEditer {
    padding: 10px 25px;
    padding-bottom: 29px;
    margin-left: 5%;
    width: 100%;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #363636;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height: 5px;
  }
  
  .btnEditer:hover {background-color: #464646}
  
  .btnEditer:active {
    background-color: #252525;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
