<app-administrateur></app-administrateur>


<div class="font-div1">
  <div class="container">


    <div>
      <button class="img-fluid bouttonSousMenu">
        <img class="img1"
          src="https://img-premium.flaticon.com/png/512/1605/1605350.png?token=exp=1623225972~hmac=281810e2540b4ab7634a155fd570eaa2">
      </button>

      <button (click)="goToAccueil()" class="img-fluid buttonAdd ">
        <img class="img1" src="https://image.flaticon.com/icons/png/512/1276/1276491.png">
      </button>
      

      <button class="img-fluid buttonAdd ">
        <img (click)="goToAddClient()" class="img1" src="https://image.flaticon.com/icons/png/512/1632/1632686.png">
      </button>
      <h2 class="page">Gestion des clients</h2>
    </div>


    <hr>
    <div>
      <div class="container mt-3"><br>
        <form class="example" action="action_page.php" #addCollabForm="ngForm" (ngSubmit)="searchClientByName()">
          <input type="text" placeholder="Nom du client"   autocomplete="off" required [(ngModel)]="clientInput.name" name="name">
          <button type="submit">
            <p>Chercher</p>
          </button>
        </form>

        <br><br>
        <h2>Résultat : {{nbResultat}} </h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th><p class="titreTable">Référence</p></th>
              <th><p class="titreTable">Nom </p></th>
              <th><p class="titreTable">Infrastructure</p></th>
              <th><p class="commande titreTable">Action</p></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clients; let indexOfelement = index">
              <td><p class="contentTable">{{client.ref}}</p></td>
              <td><p class="contentTable">{{client.name}}</p></td>
              <td><p class="contentTable">{{client.typeClient.type}}</p></td>
              <td>
                <button type="button"class="btn btn-dark btn-block"  data-toggle="modal" [attr.data-target]=" '#myClientModal-' + indexOfelement">Éditer</button>
              </td>
            </tr>
          </tbody>
        </table>

    



        <div *ngFor="let client of clients; let indexOfelement =index;">

          <div class="modal fade" id="myClientModal-{{indexOfelement}}" role="dialog">
            <div class="modal-dialog modal-xl">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Gestion du client : {{client.name}} </h3>
                  <div class="toHide">
                     <input type="text" value="{{client.id}}" name="clientId-{{indexOfelement}}" id="clientId-{{indexOfelement}}" disabled> 
                  </div>
                </div>
                <div class="modal-body">
                  <div class="row">
    
                    <!-- Colonne 1-->
                    <div class="col-sm-6">
       
                      <div class="inputbox mt-1">
                        <span> Nom du client : </span><br>
                        <input class="modal-input" type="text" value="{{client.name}}"  name="nameClient-{{indexOfelement}}" id="nameClient-{{indexOfelement}}">
                      </div>
                
                    </div>
    
                    <!-- Colonne 2-->
                    <div class="col-sm-6">
    
                      <div class="inputbox mt-1 " >
                        <span> ref client: </span><br>
                        <input class="modal-input" type="text" value="{{client.ref}}"  name="refClient-{{indexOfelement}}" id="refClient-{{indexOfelement}}" >
                      </div>

                      <div class="inputbox mt-1">
                        <span> Catégorie: </span><br>
                        <select class="modal-input"  name="typeClient-{{indexOfelement}}" id="typeClient-{{indexOfelement}}"   >
                          <option hidden value="" disabled selected>{{client.typeClient.type}} </option>
                          <option *ngFor="let allClientTypes of allClientType" value="{{allClientTypes.id}}">{{allClientTypes.type}}</option>
                        </select>
                      </div>
    
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btnModal" type="submit" (click)="updateClient(indexOfelement)">Maj</button>
                    <button class="btnModal" type="submit" (click)="deleteClient(client.id)">Supprimer</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>