<app-administrateur></app-administrateur>


<div class="font-div1">
  <div class="container">
    <h2>Gestion des clients</h2>
    <hr>
<div>
    <div class="container mt-3">
        <form class="example" action="action_page.php" #addCollabForm="ngForm" (ngSubmit)="searchOneCollab()">
            <input type="text" placeholder="Search by name.."  name="lastName">
            <button type="submit"><p>Chercher</p></button>
          </form>

        <br><br>
        <h2>Resultat  </h2> 
        <table class="table table-condensed">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Mission</th>
                <th>Type</th>
                <th>Action</th>


              </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                 

                <td>
                </td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
    </div>
    </div>
    


    <button  (click)="goToEditCollab()">Editer</button>

    
<!--     <app-child [childMessage]="parentMessage"></app-child>
        <button class="btnEditer" type="submit" (click)="goToEditCollab()">Editer</button>

 -->
