<app-administrateur></app-administrateur>


<div class="font-div1">
  <div class="container">


    <div>
      <button class="img-fluid bouttonSousMenu">
        <img class="img1"
          src="https://img-premium.flaticon.com/png/512/1605/1605350.png?token=exp=1623225972~hmac=281810e2540b4ab7634a155fd570eaa2">
      </button>

      <button class="img-fluid buttonAdd ">
        <img class="img1" src="https://image.flaticon.com/icons/png/512/1632/1632686.png">
      </button>
      <h2 class="page">Gestion des clients</h2>
    </div>


    <hr>
    <div>
      <div class="container mt-3"><br>
        <form class="example" action="action_page.php" #addCollabForm="ngForm" (ngSubmit)="searchClientByName()">
          <input type="text" placeholder="Nom du client" required [(ngModel)]="clientInput.name" name="name">
          <button type="submit">
            <p>Chercher</p>
          </button>
        </form>

        <br><br>
        <h2>Résultat : </h2>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th><p class="titreTable">id</p></th>
              <th><p class="titreTable">Nom</p></th>
              <th><p class="titreTable">Type</p></th>
              <th><p class="commande titreTable">Gestion</p></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clients">
              <td>{{client.id}}</td>
              <td>{{client.name}}</td>
              <td>{{client.typeClient.type}}</td>
              <td>
                <button type="button" class="btnEditer" (click)="goToEditCollab()">Gerer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>