<app-administrateur></app-administrateur>

<div class="div-add">
<div class="container ">
    <h3>Ajouter un collaborateur</h3>
    <hr>
<div class="row">
    <div class="col-md-6">
        <div class="form">
            <div class="inputbox mt-3"> <span>Nom :</span> <input type="text" placeholder="Nom de famille" name="" > </div>
            <div class="inputbox mt-3"> <span>Prenom :</span> <input type="text" placeholder="Prenom" name="" > </div>
            <div class="inputbox mt-3"> <span>Mot de passe :</span> <input type="text" placeholder="Mot de passe" name="" > </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form">
        <div class="inputbox mt-3"> <span>Date entrée :</span> <input type="date" placeholder="Mot de passe" name="" > </div>
        <div class="inputbox mt-3"> <span>Date sortie :</span> <input type="date" placeholder="Mot de passe" name="" class="date-input"> </div>
        <div class="inputbox mt-3"><span>Type :</span><br>
            <select class="form-input" aria-label="Default select example">
            <option value="1">Admin</option>
            <option value="2">Client</option>
          </select>
        </div>
        </div>
    </div><button class="btnEditer">Ajouter</button>

</div>
</div>
</div>