<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <nav class="navbar navbar-expand-lg  bg">

        <img class="logo" src="https://www.infocom-group.fr/dist/img/logo_symbole.png" width="80">
        
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                  <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
        
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active link-page" href="#">Accueil <span class="sr-only">(current)</span></a>
              </li>
          
              <li class="dropdown nav-item">
                <a class="dropdown-toggle nav-link link-page" data-toggle="dropdown" href="#">Gestions Collaborateur
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-link" href="#">Page 1-1</a></li>
                  <li><a class="dropdown-link "  href="#">Page 1-2</a></li>
                  <li><a class="dropdown-link " href="#">Page 1-3</a></li>
                </ul>
              </li>

              <li class="dropdown nav-item">
                <a class="dropdown-toggle nav-link link-page" data-toggle="dropdown" href="#">Gestions note de frais    
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-link" href="#">Page 1-1</a></li>
                  <li><a class="dropdown-link "  href="#">Page 1-2</a></li>
                  <li><a class="dropdown-link " href="#">Page 1-3</a></li>
                </ul>
              </li>


            </ul>
            
            
            
            
            <ul class="navbar-nav">
          
              <li class="nav-item">
                <a class="nav-link link-page" href="#">Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-page" href="#">Disconnect</a>
              </li>
            </ul>
          </div>
        </nav>
    <div class="container mt-3">
        <h2>Gestions collaborateurs</h2>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-condensed">
            <thead>
              <tr>
                <th>Check</th>
                <th>Nom</th>
                <th>Activités</th>
                <th>Requetes</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
               <td> <input type="checkbox"></td>
                <td>mohammad</td>
                <td><button type="button" class="btn btn-success">Voir</button></td>
                <td><button type="button" class="btn btn-success">Repondre</button></td>
                <td>
                    <button type="button" class="btn btn-success crud">Ajouter</button>
                    <button type="button" class="btn btn-success crud">Supprimer</button>
                    <button   type="button" class="btn btn-success crud">Mise à Jour</button>
                </td>

              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td>Moe</td>
                <td><button type="button" class="btn btn-success">Voir</button></td>
                <td><button type="button" class="btn btn-success">Repondre</button></td>
                <td>
                    <button type="button" class="btn btn-success crud">Ajouter</button>
                    <button type="button" class="btn btn-success crud">Supprimer</button>
                    <button   type="button" class="btn btn-success crud">Mise à Jour</button>
                </td>

            </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td>Dooley</td>
                <td><button type="button" class="btn btn-success">Voir</button></td>
                <td><button type="button" class="btn btn-success">Repondre</button></td>
                <td>
                    <button type="button" class="btn btn-success crud">Ajouter</button>
                    <button type="button" class="btn btn-success crud">Supprimer</button>
                    <button   type="button" class="btn btn-success crud">Mise à Jour</button>
                </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
    
      
</body>
</html>

