<!DOCTYPE html>
<html>
<head>
</head>
<body>


<app-administrateur></app-administrateur>


    <div class="container mt-3">
        <h2>Gestions collaborateurs</h2>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
        <table class="table table-condensed">
            <thead>
              <tr>
                <th>Check</th>
                <th>Nom</th>
                <th>Activités</th>
                <th>Requetes</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
               <td> <input type="checkbox"></td>
                <td>mohammad</td>
                <td><button type="button" class="btn btn-success">Voir</button></td>
                <td><button type="button" class="btn btn-success">Repondre</button></td>
                <td>
                    <button type="button" class="btn btn-success crud">Ajouter</button>
                    <button type="button" class="btn btn-success crud">Supprimer</button>
                    <button   type="button" class="btn btn-success crud">Mise à Jour</button>
                </td>

              </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td>Moe</td>
                <td><button type="button" class="btn btn-success">Voir</button></td>
                <td><button type="button" class="btn btn-success">Repondre</button></td>
                <td>
                    <button type="button" class="btn btn-success crud">Ajouter</button>
                    <button type="button" class="btn btn-success crud">Supprimer</button>
                    <button   type="button" class="btn btn-success crud">Mise à Jour</button>
                </td>

            </tr>
              <tr>
                <td><input type="checkbox"></td>
                <td>Dooley</td>
                <td><button type="button" class="btn btn-success">Voir</button></td>
                <td><button type="button" class="btn btn-success">Repondre</button></td>
                <td>
                    <button type="button" class="btn btn-success crud">Ajouter</button>
                    <button type="button" class="btn btn-success crud">Supprimer</button>
                    <button   type="button" class="btn btn-success crud">Mise à Jour</button>
                </td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
    
      
</body>
</html>

