<app-administrateur></app-administrateur>




<div class="font-div1">
  <div class="container">

    <span>
      <button class="img-fluid bouttonMenu ">
        <img class="img1" src="https://image.flaticon.com/icons/png/512/2590/2590848.png">
      </button>

      <button (click)="goToAccueil()" class="img-fluid buttonAdd ">
        <img class="img1" src="https://image.flaticon.com/icons/png/512/1276/1276491.png">
      </button>

      <button (click)="goToAddActivity()" class="img-fluid buttonAdd ">
        <img class="img1" src="https://image.flaticon.com/icons/png/512/1632/1632686.png">
      </button>
      <h2 class="page">Gestion des activités</h2>
    </span>

    <hr>

    <div class="container">

      <div class="row">
        <div class="col-sm-4">
          <span>Date de déclaration d'activité entre :</span>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-4">
          <select class="modal-input" required [(ngModel)]="monthActivity" name="monthActivity">
            <option value="1">Janvier</option>
            <option value="2">Férier</option>
            <option value="3">mars</option>
            <option value="4">Avril</option>
            <option value="5">Mai</option>
            <option value="6">Juin</option>
            <option value="7">Juillet</option>
            <option value="8">Août</option>
            <option value="9">Septembre</option>
            <option value="10">Octobre</option>
            <option value="11">Novembre</option>
            <option value="12">Décembre</option>
          </select>
        </div>

        <div class="col-sm-4">
          <input autocomplete="off" type="text" required [(ngModel)]="yearActivity" name="yearActivity">

        </div>

        <div class="col-sm-4">
          <button class="btnSearch" type="submit" (click)="searchActivity()">Chercher</button>
        </div>

        <div class="col-sm-8">
          <br><br>
          <span>Prénom du collaborateur : </span>
          <input autocomplete="off" type="text" required [(ngModel)]="firstNameCollab" name="firstNameCollab">
        </div>

      </div>

      <br><br>

      <h2>Résultat : {{nbResultat}}</h2>
      <hr>
      <table class="table table-striped table-bordered ">
        <thead>
          <tr>
            <th>
              <p class="titreTable">Nom</p>
            </th>
            <th>
              <p class="titreTable">Prénom</p>
            </th>
            <th>
              <p class="titreTable">Date de la déclaration</p>
            </th>

            <th>
              <p class="titreTable">Projet</p>
            </th>
            <th>
              <p class="titreTable">Action</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of activitys;let indexOfelement =index;">
            <td>{{activity.nameCollab}}</td>
            <td>{{activity.firstNameCollab}}</td>
            <td>{{activity.startDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{activity.projectId}}</td>
            <td>
              <!--<button  class="btn btn-dark btn-block" type="submit" (click)="goGerer()">Gérer</button> -->
              <button type="button" class="btn btn-dark btn-block" data-toggle="modal"[attr.data-target]=" '#myActivitymodal-'+ indexOfelement" (click)="onInitModal(activity)">Éditer</button>
            </td>
          </tr>
        </tbody>
      </table>




      <div *ngFor="let activity of activitys; let indexOfelement =index;">

        <div class="modal fade"  id="myActivitymodal-{{indexOfelement}}" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-full" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>

              <div class="modal-body p-4" id="result">
                <div class="contenue">
                  <div class="Frais">
      
                    <h2> Déclaration d'activité  dedu </h2>
                  </div>
                  <select class="form-input2" aria-label="Default select example" [(ngModel)]="monthSelected" (change)="updateMonth()">
                    <option value="1">Janvier</option>
                    <option value="2">Février</option>
                    <option value="3">Mars</option>
                    <option value="4">Avril</option>
                    <option value="5">Mai</option>
                    <option value="6">Juin</option>
                    <option value="7">Juillet</option>
                    <option value="8">Août</option>
                    <option value="9">Septembre</option>
                    <option value="10">Octobre</option>
                    <option value="11">Novembre</option>
                    <option value="12">Décembre</option>
                  </select>
                  <select class="form-input3" aria-label="Default select example" value="2021" [(ngModel)]="yearInput" name="yearInput">
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                  </select>
                
                  <!-- ACTIVITE 1-->
                  <table>
                    <thead>
                      <tr >
                        <th class="enTete">Projets </th>
                        <th class="enTete" >R.AUTO </th>
                        <th class="enTeteDates" *ngFor="let element of tabJours;">{{element}} </th>
                        <th class="enTete"  >total</th>
                      </tr>
                    </thead>
                    <tbody  (change)="totalAllActivity()">
                      <tr>
                        <td>
                          <select class=""   value=""   [(ngModel)]="selectedOption" (change)="onChangeSelectOption()">
                            <option *ngFor="let project of projects" value="{{project.project.id}}">{{project.project.projectTitle}}</option>
                          </select>                         
                        </td>
             
                        <td>
                          <button class="btnRemplirActivity" (click)="remplirProjet1()">Remplir</button>
                          <button class="btnRemplirActivity" (click)="remplirRemoteP1()">TAD</button>
                        </td>
                        <td *ngFor="let element of tabJours;let tabjoursElement=index;">
                          <input class=" inputDay" step="0.25" min="0" max="1" name="jour-{{tabjoursElement}}"
                            id="jour-{{tabjoursElement}}" type="number" value="{{dureeProjet1}}" [disabled]="" (change)="total()"
                            value="0">
                          <input class="inputRemote" name="remote-{{tabjoursElement}}" id="remote-{{tabjoursElement}}" type="checkbox"
                            [checked]="isRemote" value="{{isRemote}}">
                        </td>
                        <td>
                          <input class="inputDay twolast" type="" value={{totalProjet1}} id="" required [(ngModel)]="totalProjet1"
                            name="totalProjet1">
                        </td>
                      </tr>
                
                      <!-- ACTIVITE 2-->
                
                      <tr>
                        <td>
                          <select class="" value="" [(ngModel)]="selectedOption2"  (change)="onChangeSelectOption2()">
                            <option *ngFor="let project of projects" value="{{project.project.id}}">{{project.project.projectTitle}}</option>
                          </select>
                        </td>
                        <!-- <td><input class="form-input choice"value="{{refinterne2}}"></td>
                        <td><input class="form-input choice" value="{{refClient2}}"></td> -->
                        <td>
                          <button class="btnRemplirActivity" (click)="remplirProjet2()">Remplir</button>
                          <button class="btnRemplirActivity" (click)="remplirRemoteP2()">TAD</button>
                        </td>
                        <td *ngFor="let element of tabJours;let tabjoursElement=index;">
                          <input class=" inputDay" step="0.25" min="0" max="1" name="jour2-{{tabjoursElement}}"
                            id="jour2-{{tabjoursElement}}" type="number" value="{{dureeProjet2}}" [disabled]="" (change)="total2()"
                            value="0">
                          <input class="inputRemote" name="remote2-{{tabjoursElement}}" id="remote2-{{tabjoursElement}}" type="checkbox"
                            [checked]="isRemote2" value="{{isRemote2}}">
                        </td>
                        <td>
                          <input class="inputDay twolast" type="" value={{totalProjet2}} id="" required [(ngModel)]="totalProjet2"
                            name="totalProjet2">
                        </td>
                      </tr>
                
                      <!-- ACTIVITE 3-->
                
                      <tr>
                        <td>
                          <select class="form-input choice"  aria-label="Default select example" [(ngModel)]="selectedOption3">
                            <option *ngFor="let project of projects" value="{{project.project.id}}">{{project.project.projectTitle}}</option>
                          </select>
                        </td>
                        <!-- <td><input class="form-input choice" value="{{refinterne3}}"></td>
                        <td><input class="form-input choice" value="{{refClient3}}"></td> -->
                        <td>
                          <button class="btnRemplirActivity" (click)="remplirProjet3()">Remplir</button>
                          <button class="btnRemplirActivity" (click)="remplirRemoteP3()">TAD</button>
                        </td>
                        <td *ngFor="let element of tabJours;let tabjoursElement=index;">
                          <input class=" inputDay" step="0.25" min="0" max="1" name="jour3-{{tabjoursElement}}"
                            id="jour3-{{tabjoursElement}}" type="number" value="{{dureeProjet3}}" [disabled]="" (change)="total3()"
                            value="0">
                          <input class="inputRemote" name="remote3-{{tabjoursElement}}" id="remote3-{{tabjoursElement}}" type="checkbox"
                            [checked]="isRemote3" value="{{isRemote3}}">
                        </td>
                        <td>
                          <input class="inputDay twolast" type="" value={{totalProjet3}} id="" required [(ngModel)]="totalProjet3"
                            name="totalProjet3">
                        </td>
                      </tr>
                
                      <!-- ACTIVITE 4-->
                
                      <tr>
                        <td>
                          <select class="form-input" aria-label="Default select example" [(ngModel)]="selectedOption4">
                            <option *ngFor="let project of projects" value="{{project.project.id}}">{{project.project.projectTitle}}</option>
                          </select>
                        </td>
                        <!-- <td><input class="form-input choice" value="{{refinterne4}}"></td>
                        <td><input class="form-input choice"  value="{{refClient4}}"></td> -->
                        <td>
                          <button class="btnRemplirActivity" (click)="remplirProjet4()">Remplir</button>
                          <button class="btnRemplirActivity" (click)="remplirRemoteP4()">TAD</button>
                        </td>
                        <td *ngFor="let element of tabJours;let tabjoursElement=index;">
                          <input class=" inputDay" step="0.25" min="0" max="1" name="jour4-{{tabjoursElement}}"
                            id="jour4-{{tabjoursElement}}" type="number" value="{{dureeProjet4}}" [disabled]="" (change)="total4()"
                            value="0">
                          <input class="inputRemote" name="remote4-{{tabjoursElement}}" id="remote4-{{tabjoursElement}}" type="checkbox"
                            [checked]="isRemote4" value="{{isRemote4}}">
                        </td>
                        <td>
                          <input class="inputDay twolast" type="" value={{totalProjet4}} id="" required [(ngModel)]="totalProjet4"
                            name="totalProjet4">
                        </td>
                      </tr>
                
                
                    </tbody>
                  </table>
                  <br>
                
                  <span>Total de jours travaillés :</span> <input class="inputDay2" type="" value={{totalActivity}} required [(ngModel)]="totalActivity" name="totalActivity">
                
                  <br>  <br>  <br>
                  <!-- ASTREINTE -->
                  
                
                      <h2> Astreinte </h2>
                      <table>
                        <thead>
                          <tr>
                            <th class="enTete">PROJECT </th>
                            <th class="enTete">TYPE </th>
                            <th class="enTete">UNITE </th>
                            <th class="enTete">R.AUTO </th>
                            <th class="enTete"  *ngFor="let element of tabJours;">{{element}} </th>
                            <th class="enTete" >total</th>
                          </tr>
                        </thead>
                        <tbody>
                            <!-- ASTREINTE 1-->
                
                          <tr>
                            <td>
                              <select type="number" class="form-input" aria-label="Default select example"  [(ngModel)]="selectedProjectAstreint1" (change)="updateAfterSelectAstreinte1()">
                                <option *ngFor="let project of projects" value="{{project.project.id}}">{{project.project.projectTitle}}</option> 
                              </select>
                            </td>
                            <td>
                              <select type="number" class="form-input" aria-label="Default select example"  [(ngModel)]="selectedTypeUpdateValue1"  (change)="selectedTypeUpdate1()">
                                <option [disabled]="typeActivity.id === 1 "  [hidden]="typeActivity.id === 1 "   *ngFor="let typeActivity of lesTypeActivity"  value="{{typeActivity.id}}" selected="true" disabled="disabled" >{{typeActivity.type}}
                                </option>
                              </select>
                            </td>
                            <td>
                              <select type="number" class="form-input" aria-label="Default select example" [(ngModel)]="selectedUniteAstreint1">
                                <option value="1">Heure</option>
                                <option value="2">Jour</option>
                              </select>
                            </td>
                            <td>
                              <button class="btnRemplir" (click)="remplirAstreinte1()">Remplir</button>
                            </td>
                            <td *ngFor="let element of tabJours;let tabjoursElement=index;">
                              <input class=" inputDay2" name="jourAstreinte1-{{tabjoursElement}}" id="jourAstreinte1-{{tabjoursElement}}" type="number" value="{{dureeAstreinte1}}" (change)="total5()">
                            </td>
                            <td><input class=" inputDay2" type="" value={{totalAstreinte1}}></td>
                          </tr> 
                            <!-- ASTREINTE 2 -->
                          <tr>
                            <td>
                              <select type="number" class="form-input" aria-label="Default select example"  [(ngModel)]= "selectedProjectAstreint2" (change)="updateAfterSelectAstreinte2()">
                                <option *ngFor="let project of projects" value="{{project.project.id}}">{{project.project.projectTitle}}</option> 
                              </select>
                            </td>
                            <td>
                              <select type="number" class="form-input" aria-label="Default select example"  [(ngModel)]= "selectedTypeUpdateValue2"  (change)="selectedTypeUpdate2()">
                                <option *ngFor="let typeActivity of lesTypeActivity" value="{{typeActivity.id}}">{{typeActivity.type}}
                                </option>
                              </select>
                            </td>
                            <td>
                              <select type="number" class="form-input" aria-label="Default select example" [(ngModel)]="selectedUniteAstreint2">
                                <option value="1">Heure</option>
                                <option value="2">Jour</option>
                              </select>
                            </td>
                            <td>
                              <button class="btnRemplir" (click)="remplirAstreinte2()">Remplir</button>
                            </td>
                            <td *ngFor="let element of tabJours;let tabjoursElement=index;">
                              <input class=" inputDay2" name="jourAstreinte2-{{tabjoursElement}}" id="jourAstreinte2-{{tabjoursElement}}" type="number" value="{{dureeAstreinte2}}" (change)="total6()">
                            </td>
                            <td><input class=" inputDay2" type="" value={{totalAstreinte2}}></td>
                          </tr>
                            <!-- ASTREINTE 3 -->
                
                          <tr>
                            <td>
                              <select type="number" class="form-input" aria-label="Default select example" [(ngModel)]="selectedProjectAstreint3" (change)="updateAfterSelectAstreinte3()">
                                <option *ngFor="let project of projects" value="{{project.project.id}}">{{project.project.projectTitle}}</option> 
                              </select>
                            </td>
                            <td>
                              <select type="number" class="form-input" aria-label="Default select example" [(ngModel)]="selectedTypeUpdateValue3" (change)="selectedTypeUpdate3()">
                                <option *ngFor="let typeActivity of lesTypeActivity" value="{{typeActivity.id}}">{{typeActivity.type}}
                                </option>
                              </select>
                            </td>
                            <td>
                              <select type="number" class="form-input" aria-label="Default select example"  [(ngModel)]="selectedUniteAstreint3">
                                <option value="1">Heure</option>
                                <option value="2">Jour</option>
                              </select>
                            </td>
                            <td>
                              <button class="btnRemplir" (click)="remplirAstreinte3()">Remplir</button>
                            </td>
                            <td *ngFor="let element of tabJours;let tabjoursElement=index;">
                              <input class="inputDay2" name="jourAstreinte3-{{tabjoursElement}}" id="jourAstreinte3-{{tabjoursElement}}"
                                type="number" value="{{dureeAstreinte3}}" (change)="total7()">
                            </td>
                            <td><input class="inputDay2" type="" value={{totalAstreinte3}}></td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                
           

              </div>



              <div class="modal-footer">
                <div class="register">
                  <button class="send" (click)="EnregisterEtEnvoyer()">Sauvegarder</button>
                  <button class="send">Supprimer</button>
                  <button class="send" data-dismiss="modal">Retour</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>