<app-administrateur></app-administrateur>




<div class="font-div1">
          <div class="container">
            <h1>Gestion activite</h1>
            <hr>
  
          <form >


        </form>



  

      <div class="container">
        <div class="row">
            <div class="col-sm-4"><input type="date" required [(ngModel)]="date1" name="date1"></div>
            <div class="col-sm-4"><input type="date" required [(ngModel)]="date2" name="date2"> </div>
            <div class="col-sm-4"><button class="btnSearch" type="submit"  (click)="searchActivity()">Chercher</button></div>
            <div class="col-sm-8">
            <input type="text" required [(ngModel)]="lastName" name="lastName">
            </div>

    </div>

        <br><br><br><br>

        <h2>Resultat</h2>
        <hr>
        <table class="table ">
            <thead>
              <tr>
                <th><p class="titreTable">Nom collaborateur </p></th>
                <th><p class="titreTable">Durée</p></th>
                <th><p class="titreTable">Date debut</p></th>
                <th><p class="titreTable">Distentiel</p></th>


                <th ><p class="commande titreTable">Actions</p></th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let activity of activitys">
                <td>{{activity.startDate}}</td>
                <td>{{activity.duration}}</td>
                <td>{{activity.remote}}</td>
                <td>
                    <button class="btnEditer" type="submit" >Gerer</button>
                </td>
            </tr>
            </tbody>
          </table>


          
       
        </div>
    </div>
    <button  type="submit"  (click)="goGerer()">Gerer</button>