
   

.btnEditer {
    width: 80%;
    font-size: 12px;
    margin-left:30px;

  }




  .btnForm {
    width: 100%;
 
  }


.btnRetour {
  float: left;
  padding: 10px 25px;
  width: 15%;
  font-size: 15px;
  margin-left: 85%;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #363636;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 5%;
}



  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid#464646;
  }



  input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #464646;
    
  }

  input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #464646;
  }

  .form-input{
    width: 100%;
    padding: 12px 20px;
    height: 48px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #464646;

  }

  .rightInputs{
    margin-top: 60px;

  }