<app-utilisateur></app-utilisateur>



<form #addLeaveForm="ngForm" (ngSubmit)="addLeaveFormSubmit()">

  <div class="div-add">
    <div class="container ">
      <h2>Demande de congé </h2>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="form">



            <div class="inputbox mt-3"> <span>Type de congé :</span>
              <select class="form-input" required [(ngModel)]="idOfLeaveType" name="getTypeLeave"
                (change)="getTypeLeave()">
                <option *ngFor="let typeConge of allLeaveType" value="{{typeConge.id}}">{{typeConge.type}}</option>
              </select>
            </div>


            <div class="inputbox mt-3">
              <span>Date de début :</span>
              <input type="date" required [(ngModel)]="dateStartLeave" name="dateStartLeave" (change)="howManyday()">
            </div>




            <div class="inputbox mt-3">
              <span>Début :</span>
              <select class="form-input" required [(ngModel)]="leave.statusDebut" name="leave.statusDebut">
                <option value="matin">Matinée</option>
                <option value="après-midi">Apres-midi</option>
                <option value="Journée entière">Journée entière</option>
              </select>

              <div class="inputbox mt-3">
                <span>Total jours :</span>
                <div>
                  <br>

                  <label><input type="checkbox" value=""> jour(s) entier(s)</label>
                </div>
              </div>


            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="form">



            <div class="inputbox mt-3"> <span>Client informé :</span>
              <select class="form-input" required [(ngModel)]="leave.clientInformed" name="leave.clientInformed">
                <option value="true">Oui</option>
                <option value="false">Non</option>
              </select>
            </div>

            <div class="inputbox mt-3"> <span>Date de fin :</span>
              <input type="date" required [(ngModel)]="dateEndLeave" name="dateEndLeave" (change)="howManyday()">
            </div>



            <div class="inputbox mt-3">
              <span>Fin :</span>
              <select class="form-input" required [(ngModel)]="leave.statusFin" name="leave.statusFin">
                <option value="matin">Matinée</option>
                <option value="après-midi">Apres-midi</option>
                <option value="Journée entière">Journée entière</option>
              </select>
            </div>

            <div class="inputbox mt-3">
              <span>Total jours : </span>
              <input type="text" placeholder=" {{dayNumber}}" disabled>
            </div>

          </div>
        </div>


        <div class="col-md-6"></div>
        <div class="col-md-6">
          <button class="btnEditer" type="submit">Ajouter demande de congé</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="container">
  <h2>Vos demandes :</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Date début</th>
        <th>Date Fin</th>
        <th>Type</th>
        <th>Etat de la demande</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leave of leaves">
        <td>{{leave.dateOfStartLeave | date: 'dd/MM/yyyy'}}</td>
        <td>{{leave.dateOfEndLeave | date: 'dd/MM/yyyy' }}</td>
        <td>{{leave.leaveType.type}}</td>
        <td>{{leave.status}}</td>
        <td><button class="btnEditer" (click)="deleteLeaveById(leave.id)">Supprimer</button></td>
      </tr>
    </tbody>
  </table>
  <hr>
</div>

<div class="container">
  <button class="btnRetour" (click)="retour()">Retour</button>
</div>



<br><br><br><br><br><br>