<app-utilisateur></app-utilisateur>



<form #addLeaveForm="ngForm" (ngSubmit)="addLeaveFormSubmit()">

  <div class="div-add">
    <div class="container ">


      <div class="row">
        <div class="col-md-6">


          <div class="inputbox mt-3">
            <div>
              <label><input type="checkbox" required [(ngModel)]="joursEntiers" name="joursEntiers "
                  (change)="joursEntiersChecked()"> jours entiers</label>
            </div>
          </div>

          <div class="inputbox mt-3">
            <span>Date de départ :</span>
            <input type="date" required [(ngModel)]="leave.dateOfStartLeave" name="dateStartLeave"
              (change)="howManyday()">
          </div>


          <div class="inputbox mt-3"> <span>Date de retour :</span>
            <input type="date" required [(ngModel)]="leave.dateOfEndLeave" name="dateEndLeave" (change)="howManyday()">
          </div>



          <div class="inputbox mt-3"> <span>Type de congé :</span>
            <select class="form-input" required [(ngModel)]="leave.leaveType" name="leave.leaveType">
              <option *ngFor="let typeConge of allLeaveType" [ngValue]="typeConge">{{typeConge.type}}</option>
            </select>
          </div>



        </div>


        <div class="col-md-6 ">



          <div class="rightInputs">
            <div class="inputbox mt-3">
              <span>᲼᲼᲼</span>
              <select class="form-input" required [(ngModel)]="leave.statusDebut" name="leave.statusDebut"
                id="leaveStartStatus">
                <option value="matin">Matin</option>
                <option value="après-midi">Apres-midi</option>
                <option value="Journée entière">Journée entière</option>
              </select>
            </div>

            <div class="inputbox mt-3">
              <span>᲼᲼᲼</span>
              <select class="form-input" required [(ngModel)]="leave.statusFin" name="leave.statusFin"
                id="leaveEndStatus">
                <option value="matin">Matinée</option>
                <option value="après-midi">Apres-midi</option>
                <option value="Journée entière">Journée entière</option>
              </select>
            </div>

            <div class="inputbox mt-3">
              <span>Client informé :</span>
              <select class="form-input" required [(ngModel)]="leave.clientInformed" name="leave.clientInformed">
                <option value="true">Oui</option>
                <option value="false">Non</option>
              </select>
            </div>

            <div class="inputbox mt-3">
              <span>Total jours : </span>
              <input type="text" [(ngModel)]="leave.nbJours" name="leave.nbJours" placeholder="" disabled>
            </div>

    

            <br>

            <div class="row">
              <div class="col-sm-6">
                <button class=" btnForm gb gb-bordered hover-slide" id="gb9" type="submit">Ajouter</button>

              </div>
              <div class="col-sm-6">
                <button class=" btnForm gb gb-bordered hover-slide" id="gb9" (click)="retour()">Retour</button>

              </div>
            </div>


          </div>





        </div>

      </div>
    </div>

  </div>


  <div class="container">
    <h2>Demandes en-cours :</h2>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Date début</th>
          <th>Date Fin</th>
          <th>nb jours</th>
          <th>Type</th>
          <th>Etat de la demande</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leave of leaves ">
          <td>{{leave.dateOfStartLeave | date: 'dd/MM/yyyy'}}</td>
          <td>{{leave.dateOfEndLeave | date: 'dd/MM/yyyy' }}</td>
          <td>{{leave.nbJours}} Jours</td>

          <td>{{leave.leaveType.type}}</td>
          <td>{{leave.status}}</td>


          <td><button class=" btnEditer gb gb-bordered hover-slide" id="gb9" (click)="deleteLeaveById(leave.id)">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
  </div>






  <br><br><br><br><br><br>